  <ul class="nav nav-tabs app-tabs" id="addTabs">
    {{#each tabs}}
      <li class="{{active}}"><a href="#" data-target="tab-{{id}}">{{name}}</a></li> <!-- class= active -->
    {{/each}}
  </ul>
  <div class="tab-content" id="addTabContent">
    {{#each tabs}}
      <div class="tab-pane fade in {{active}} {{content-class}}" id="tab-{{id}}"></div> <!-- class= active -->
    {{/each}}
  </div>
