  <ul class="nav nav-tabs app-tabs" id="{{id}}">
    {{#each tabs}}
      <li class="{{active}}">
        <a href="#" data-target="#tab-{{id}}" data-toggle="tab">
          {{#if icon}}
            <i class="{{icon}}"></i>
          {{/if}}
          {{#if name}}
            {{name}}
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="tab-content" id="addTabContent">
    {{#each tabs}}
      <div class="tab-pane fade in {{active}} {{content-class}}" id="tab-{{id}}"></div> <!-- class= active -->
    {{/each}}
  </div>
