<div class="wrapper timeseries">
  <div class="text">
    {{#if procedure}}
      <h1>{{procedure}}</h1>
    {{else}}
      <h1>[unknown]</h1>
    {{/if}}
    {{#if expert}}
      {{#if timeseriesId}}
        <h2 style="font-size: 9px; color: black;">{{timeseriesId}}</h2>
      {{/if}}
      {{#if category}}
        <h2>{{category}}</h2>
      {{/if}}
      {{#if feature}}
        <h2>{{feature}}</h2>
      {{/if}}
      {{#if offering}}
        <h2>{{offering}}</h2>
      {{/if}}
    {{/if}}
    {{#if phenomenon}}
      <h2>{{phenomenon}}</h2>
    {{/if}}
    
  </div>
  <div class="element">
    {{#each actions}}
      <a class="action" data-action="{{callback}}" 
        {{#if navigate}}
          data-navigate="{{navigate}}"
        {{/if}}
      >
        <i class="{{icon}}"></i>
      </a>
    {{/each}}
  </div>
</div>