<a href="#" class="timeseries">
  <div class="text">
    {{#if category}}
      <h1>{{category}}</h1>
    {{else}}
      <h1>[unknown]</h1>
    {{/if}}
    {{#if feature}}
      <h2>{{feature}}</h2>
    {{/if}}
    {{#if offering}}
      <h2>{{offering}}</h2>
    {{/if}}
    {{#if phenomenon}}
      <h2>{{phenomenon}}</h2>
    {{/if}}
    {{#if procedure}}
      <h2>{{procedure}}</h2>
    {{/if}}
  </div>
  <div class="element">
    {{#each actions}}
      <span class="action" data-action="{{callback}}">
        <i class="{{icon}}"></i>
      </span>
    {{/each}}
  </div>
</a>