<div class="wrapper vertical-elements legend-timeseries">
  {{#if synced}}
    <div class="text">
      {{#if parameters.phenomenon.label}}
        <h1 style='color: #{{color}}'>
          {{parameters.phenomenon.label}}
          ({{uom}})
        </h1>
      {{else}}
        <h1>
          <i>[unknown phenomenon]</i>
        </h1>
      {{/if}}
      <h2><i class="icon-building"></i> {{station.properties.label}}</h2>
      {{#if expert}}
          <h2 style="font-size: 9px;">ID: {{id}}</h2>
          <h2>{{parameters.procedure.label}}</h2>
          <h2>{{parameters.category.label}}</h2>
          <h2>{{parameters.feature.label}}</h2>
          <h2>{{parameters.offering.label}}</h2>
      {{/if}}
      
    </div>
    <div class="element">
      {{#if noCurrentData}}
        <a class="no-action no-current-data">
          <i class="icon-warning-sign text-warning blink"></i>
        </a>
      {{/if}}
      <a class="action hide-timeseries always-visible" data-action="legend:timeseries:hide">
          <i id="hide-timeseries-icon"></i>
      </a>
      {{#each actions}}
        <a class="action" data-action="{{callback}}" 
          {{#if navigate}}
            data-navigate="{{navigate}}"
          {{/if}}
        >
          <i class="{{icon}}"
            {{#if color}}
              style="color: #{{../../color}};"
            {{/if}}
          ></i>
        </a>
      {{/each}}
    </div>
  {{else}}
    <div class="text">
      <h1>
        <i>
          [fetching data]
        </i>
      </h1>
    </div>
    <div class="element">
      <i class="icon-spinner icon-spin"></i>
    </div>
  {{/if}}
</div>